/**
 * @name Niko
 * @author Bylander
 * @version 6.3.0
 * @description Highly customizable and beautiful theme for BetterDiscord.
 * @source https://github.com/Bylander10/Niko-Theme-for-BetterDiscord
 * @website https://clearvision.github.io
 * @invite 7pNUC9C
 * @BDEditor Clear Vision
*/

@import url('https://clearvision.github.io/ClearVision-v6/main.css');

:root {

  /* useless by the current time */
  --gradient-color1: var(--main-color); /* primary color [default: var(--main-color) */
  --gradient-color2: var(--hover-color); /* secondary color [default: var(--hover-color) */
  --gradient-direction: 130deg; /* angle of gradient [default: 130deg] */

  --main-color: #e62e74;
  --hover-color: #1e63b3;
  --success-color: #D93BB6;
  --danger-color: #FFE500;
  --url-color: #E75BFF;
  --background-image: url('https://i.ibb.co/0MJ7XSw/1690576286-vulkiri-nikoruefinal2.gif');
  --background-shading: 100%;
  --background-position: center;
  --background-size: cover;
  --background-repeat: no-repeat;
  --background-attachment: fixed;
  --background-brightness: 100%;
  --background-contrast: 100%;
  --background-saturation: 100%;
  --background-grayscale: 0%;
  --background-invert: 0%;
  --background-blur: 0px;
  --background-overlay: rgb(0,0,0,0.6);
  --user-popout-image: url('https://media.tenor.com/ykQ_uaGvF8UAAAAM/niko-one-shot.gif');
  --user-popout-position: center;
  --user-popout-size: cover;
  --user-popout-repeat: no-repeat;
  --user-popout-attachment: fixed;
  --user-popout-brightness: 100%;
  --user-popout-contrast: 100%;
  --user-popout-saturation: 100%;
  --user-popout-grayscale: 0%;
  --user-popout-invert: 0%;
  --user-popout-blur: 3px;
  --user-modal-image: url('https://media.tenor.com/ykQ_uaGvF8UAAAAM/niko-one-shot.gif');
  --user-modal-position: center;
  --user-modal-size: cover;
  --user-modal-repeat: no-repeat;
  --user-modal-attachment: fixed;
  --user-modal-brightness: 100%;
  --user-modal-contrast: 100%;
  --user-modal-saturation: 100%;
  --user-modal-grayscale: 0%;
  --user-modal-invert: 0%;
  --user-modal-blur: 3px;
  --home-icon: url('https://i.ibb.co/ZLkb0XT/Captura-de-tela-2024-02-06-120746.png');
  --home-position: center;
  --home-size: 57px;
  --channel-unread: #FFFFFF;
  --channel-color: rgb(255,175,202,0.97);
  --muted-color: rgb(135,135,135,1);
  --online-color: #00B361;
  --idle-color: #faa61a;
  --dnd-color: #982929;
  --streaming-color: #593695;
  --offline-color: #717171;
  --main-font: Whitney, Helvetica Neue, Helvetica, Arial, sans-serif;
  --code-font: Consolas, Liberation Mono, Menlo, Courier, monospace;
  --channels-width: 220px;
  --members-width: 240px;
  --backdrop-overlay: rgba(0,0,0,0.8);
  --backdrop-image: var(--background-image);
  --backdrop-position: var(--background-position);
  --backdrop-size: var(--background-size);
  --backdrop-repeat: var(--background-repeat);
  --backdrop-attachment: var(--background-attachment);
  --backdrop-brightness: var(--background-brightness);
  --backdrop-contrast: var(--background-contrast);
  --backdrop-saturation: var(--background-saturation);
  --backdrop-invert: var(--background-invert);
  --backdrop-grayscale: var(--background-grayscale);
  --backdrop-sepia: var(--background-sepia);
  --backdrop-blur: var(--background-blur);
  --bd-blue: var(--main-color);
  --bd-blue-hover: var(--hover-color);
  --bd-blue-active: var(--hover-color);
}

/* Any custom CSS that you wanna add below here */
